<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Funcionário</title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">DDV</a>
 
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/cliente">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/funcionario">Funcionario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instrumento">Instrumento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vende">Vendas</a>
        </li>        
      </ul>
    </div>
  </nav>
<div class="jumbotron text-center">
  <h1>Sinfônia Instrumental</h1>
  <p>A loja de instrumentos musicais que toca as notas da sua vida</p>
</div>

<div class="container">
  
    <h1><center>Funcionário</center></h1>
    <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCadastrar">
    Cadastrar Funcionário
  </button>
  
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        
        <%
        for(var i = 0; i < data.length; i++){
          
        %>
        
          <tr>
              <td><%=data[i].ID%></td>
              <td><%=data[i].NOME%></td>
              <td><%=data[i].CPF%></td>
              <td><%=data[i].TELEFONE%></td>
              <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAlterar">
                Editar
              </button>
              </td>
              <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDeletar" data-id="<%=data[i].ID%>" data-nome="<%=data[i].NOME%>">
                Deletar
              </button> 
              </td>
          </tr>
        <%
            }
        %> 
           
    </table>
 
  
  <!-- The Modal -->
  <div class="modal" id="myModalCadastrar">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Novo Funcionário</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/funcionario/cadastrar" method="post">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" placeholder="Informe seu nome" id="nome" name="NOME">
                </div>
                <div class="form-group">
                  <label for="CPF">CPF</label>
                  <input type="text" class="form-control" placeholder="Informe seu CPF" id="CPF" name="CPF">
                </div>
                  <div class="form-group">
                    <label for="Telefone">Telefone</label>
                    <input type="text" class="form-control" placeholder="Informe seu Telefone" id="Telefone" name="TELEFONE">
                  </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModalAlterar">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar funcionario</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/funcionario/alterar" method="post">
              <div class="form-group">
                <label for="nome">ID</label>
                <input type="text" class="form-control" placeholder="informe seu ID" id="ID" name="ID">
              </div>
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" placeholder="informe seu nome" id="nome" name="NOME">
                </div>
                <div class="form-group">
                  <label for="CPF">CPF</label>
                  <input type="text" class="form-control" placeholder="Informe seu CPF" id="CPF" name="CPF">
                </div>
                  <div class="form-group">
                    <label for="Telefone">Telefone</label>
                    <input type="text" class="form-control" placeholder="Informe seu Telefone" id="Telefone" name="TELEFONE">
                  </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
  
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModalDeletar">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Deletar funcionario</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/funcionario/deletar" method="post">
          <input type="hidden" name="id" id="recipent-id">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="recipent-nome" name="nome" readonly>
          </div>        
         
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

      </div>
    </div>
  </div>
</div>

<script>
  $('#myModalDeletar').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget)
    var recipentid = button.data('id')
    var recipentnome = button.data('nome')

    var modal = $(this) 
    modal.find('#recipent-id').val(recipentid)
    modal.find('#recipent-nome').val(recipentnome)
  })
</script>

</body>
</html>